@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@400;600;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #010026;

  @apply text-white;
  /* font-family: "Open Sans", "sans-serif"; */
  
}

div{
  /* outline: 1px solid rgb(175, 131, 131); */
}

.second-circle {
  stroke: var(--strokeColor);
  stroke-dasharray: 440;
  stroke-dashoffset: var(--stroke-dashoffset);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dot {
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(var(--rotateDeg));
  animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(var(--rotateDeg));
  }
}

.dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--strokeColor);
  border-radius: 50%;

  box-shadow: 0 0 10px var(--strokeColor), 0 0 30px var(--strokeColor);
}

.number {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 2s;
}
